<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/register.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
      <form action="/loginadmin" method="post">
        <div class="title">Welcome</div>
        <div class="subtitle">Insert your account!</div>
        <div class="input-container ic1">
          <input id="firstname" class="input" type="text" name="username" placeholder=" " />
          <div class="cut"></div>
          <label for="firstname" class="placeholder">Username</label>
        </div>
        <div class="input-container ic2">
          <input id="lastname" class="input" type="password" name="password" placeholder=" " />
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Password</label>
        </div>
        <a href=""><button type="text" class="submit"> submit</button></a>    
      </div>
      </form>
</body>
</html>